<div class="password-container">
  <div class="password-hints">
    <p>Minimum 8 characters</p>
    <p>Use letters, numbers and special characters</p>
  </div>
  <div class="password-input">
    <input [type]="visibility ? 'text' : 'password'" [(ngModel)]="password" (input)="checkIsPasswordValid()" placeholder="Enter your password">
    <button class="eye-icon" (click)="togglePasswordVisibility()">
      <i class="material-icons">{{ visibility ? 'visibility_off' : 'visibility' }}</i>
    </button>
  </div>
  <div class="password-strength">
    <div [ngStyle]="getColor(0)"></div>
    <div [ngStyle]="getColor(1)"></div>
    <div [ngStyle]="getColor(2)"></div>
  </div>
  <div class="password-input confirm-input">
    <input type="password" [(ngModel)]="confirmPassword" (input)="checkPasswordsMatch()" placeholder="Confirm your password">
    <div *ngIf="!passwordsMatch" class="password-error">Passwords do not match!</div>
  </div>
</div>
